[defaults]
inventory = /opt/ansible/inventory/
roles_path = /opt/ansible/roles
host_key_checking = False
stdout_callback = default
interpreter_python = auto_silent

[privilege_escalation]
become = True
become_method = sudo
